body {
  margin: 10px;
}

.header {
  grid-area: header;
}

.fund {
  grid-area: fund;
}

.investor {
  grid-area: investor;
}

.investorpie {
  grid-area: investorpie;
}

.investorbar {
  grid-area: investorbar;
}

.property {
  grid-area: property;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  grid-template-areas:
  "header header header header"
  "investor investor investorpie investorbar"
  "property property fund fund"
  "footer footer footer footer";
  background-color: blue;
  color: white;
}

.box {
  background-color: black;
  border-color: white;
  border-width: thin;
  border-style: solid;
}

.header {
  background-color: brown;
}

.fund {
  background-color: yellow;
  color: black;
}

.investor {
  background-color: red;
}

.investorpie {
  background-color: orange;
}

.investorbar {
  background-color: purple;
}
.property {
  background-color: grey;
}

/* Modal Stuff */
.App {
  margin: 1rem auto;
  max-width: 1000px;
  padding: 1rem;
}

.modal {
  /* border-radius: 2px; */
  font-family: Helvetica, Arial, sans-serif;
  /* color: black; */
}
