.home {
  background: url("../src/images/background.png") center center no-repeat;
  background-size: cover;
  // background: linear-gradient(180deg,#E8B187,#f0883a);
  // color: #fff;
}

.navbar {
  font-size: 20px;
}

.investor {
  @media (max-width: 768px) { 
    font-size:  14px;
  }
  @media (max-width: 576px) {
    font-size: 10px;
  }
}

.modal {
  font-family: Helvetica, Arial, sans-serif;
}
